{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <div class="vh-100 d-flex flex-column container">
        <h1 class="fw-bold text-center py-4">ArrasPlay</h1>
        <form method="post" class="d-flex flex-column justify-content-center align-items-center flex-grow-1 " style="margin-bottom: 50%;">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if app.user %}
                <div class="mb-3" style="font-size: 20px; color: white;">
                    You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}" style = "color: red;" >Logout</a>
                </div>
            {% endif %}
            <div class="w-50 d-flex flex-column">
                <div class="mb-3 d-flex justify-content-between">
                    <label for="InputEmail1" class="form-label fw-bold fs-4  ">Email</label>
                    <input type="email" class="form-control w-50" name= "_username" aria-describedby="emailHelp" placeholder="exemple@gmail.com">
                </div>
                <div class="mb-3 d-flex justify-content-between">
                    <label for="exampleInputPassword1" class="form-label fw-bold fs-4">Password</label>
                    <input type="password" class="form-control w-50" name= "_password" placeholder="Password">
                </div>
            </div>

            <input type="hidden" name="_csrf_token"
                value="{{ csrf_token('authenticate') }}"
            >

            {#
                Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                See https://symfony.com/doc/current/security/remember_me.html

                <div class="checkbox mb-3">
                    <input type="checkbox" name="_remember_me" id="_remember_me">
                    <label for="_remember_me">Remember me</label>
                </div>
            #}

            <button class="btn btn-lg btn-primary color-btn2 fw-semibold fs-5 w-25" type="submit">
                connexion
            </button>
        </form>
    </div>
{% endblock %}
