{# templates/home/index.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body  %}
    {% include "header/header.html.twig" %}
    <main class="container mt-4">
        <div>
            <h1>{{ welcomeMessage }}</h1>
            <p>Bienvenue sur notre plateforme des associations sportives de la ville d'Arras. Inscrivez-vous pour participer aux journées de  compétition.</p>
            <img src="/images/AssoArrasiens.jfif" title="Divers sports" style="margin-top: 5px;">
            <img src="/images/rugby.jfif" title= "Rugby" style="margin-top: 5px;">
            <img src="/images/football.jfif" title= "Foot-ball" style="margin-top: 5px;">
            <img src="/images/basket-ball.jfif" title= "Basket-ball" style="margin-top: 5px;">
        </div>
        <section class="mb-5 mt-5">
            <h2>Qui sommes-nous ?</h2>
            <p class="text-muted">
                ArrasPlay est né de la volonté d’Arras de dynamiser le sport local à l’occasion des Jeux Olympiques en créant des olympiades dédiées aux associations sportives de la région. Notre plateforme recense l’ensemble des associations participantes, les disciplines qu’elles proposent, ainsi que les jours dédiés à chaque sport. Nous facilitons l’inscription des associations via un formulaire en ligne pour leur permettre de rejoindre cet événement unique. Au-delà de l’organisation des olympiades, nous restons à l’écoute de nos utilisateurs et des besoins de nos partenaires pour améliorer constamment le projet et l’adapter à leurs attentes.
            </p>

        </section>
            <div id='calendar'></div>   
        </section>
    </main>
    {% include "footer/footer.html.twig" %}
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.15/index.global.min.js'></script>
{% endblock %}
