{% extends 'base.html.twig' %}
{% block title %}{% endblock %}

{% block body %}
    <footer>
        <p class="m-0">Projet réalisé dans le cadre de la formation CDA, SOFIP</p>
    </footer>
{% endblock %}