{% extends 'base.html.twig' %}
{% block title %}{% endblock %}

{% block body %}
<div class="card text-center">
  <div class="card-header">
    Featured
  </div>
  <div class="card-body">
    <h5 class="card-title">Conditions d'utilisation</h5>
    <p class="card-text">Politique de confidentialité.</p>
  </div>
</div>
{% endblock %}